html,body{
    overflow: scroll;
    margin: 0;
    padding: 0;
    
}

html {
  background-color: rgb(17, 17, 17);
  width: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  background-color: #161c2d;
  background-image: url(img/Paladin.png);
  background-blend-mode: color-dodge;
  background-size: 100%;
  color: #ffffff;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

h1 {
  margin-top: 15px;
  text-align: center;
  font-size: xxx-large;
  font-family: "Irish Grover", cursive;
  font-size: 72px;
  color: #ffb800;
}

.heroe-header-line {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffb800;
  font-size: 30px;
  font-family: "bold";
}

.button {
  display: inline-block;
  color: rgb(24, 22, 22);
  background-color: #ffb800;
  border: none;
  border-radius: 5px;
  padding: 8px 50px;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ffb800;
  color: black;
}

/* -----------------------------------------------------------*/
.heroe-selection-line {
  display: flex;
  width: 400px;
  margin: auto;
  flex-wrap: nowrap;
  color: #d9d9d9;
  justify-content: center;
 
}

.heroe-selection-line input {
  accent-color: #C66767;
  width: 25px;
  height: 25px;
  margin-top: 50px;
  justify-content: space-around;
 

}

.heroe-selection-line input {
  accent-color: #C66767;
  width: 25px;
  height: 25px;
  margin-top: 50px;
  justify-content: space-around;
 

}

.radio-player {
  display: flex;
  float: left;
  width: 60px;
  margin-left: 25px;
  margin-right: 25px;
}

.heroe-card {
  display: flex;
  float: center;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  margin: 10px;
  height: 50px;
}

.heroe-card-text {
  margin: auto auto auto 0;
  text-align: justify;
  font-size: 32px;
  font-family: "bold";
  color: black;
}

.heroe-card-img {
  float: left;
  display: block;
  margin-right: 10px;
}

.heroe-card img {
  width: 60px;
  height: 60px;
}

.heroe-card h1 {
  float: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: large;
  font-family: 'Bold';
  color: black;
}

.heroe-description {
  float: none;
  margin: 0;
  padding: 0;
  font-size: x-small;
}

/* ------------------------------------------------------------------
   correction-fight.html
   ------------------------------------------------------------------
*/
.three-columns-container {
  display: flex;
  width: 950px;
  margin: left;
}

.column {
  width: 500px;
}

.center-column {
  width: 150px;
}

.card {
  padding: 10px;
  text-align: left;
  color: black;
  background-color: gray;
  border-radius: 10px;
}

.card h2 {
  margin: 0 4px 0;

}

.card img {
  float: left;
  width: 80px;
  height: 80px;
}

.card p {
  margin: 0 4px 0;
}

.versus-text {
  text-align: center;
}

.card-text {
  float: center;
  text-align: center;
}

.current-player {
  border: solid yellow 7px;
  box-sizing: border-box;
  background-color: white;
}

.sortilege-player {
  width: 400px;
  text-align: center;
  margin: 7px 0;
}

.sortilege-actif {
  color: darksalmon;
  font-weight: bold;
}

.sortilege-actif-nbtours {
  color: darksalmon;
  font-size: 8pt;
}

.sortilege-inactif {
  color: white;
  font-size: 8pt;
}

.score {
  float: right;
  font-size: 54pt;
  font-weight: bolder;
  color: lightgrey;
}

/* ------------------------ */
#header-coups {
  font-size: 8pt;
  margin: 30px auto 5px;
}

#liste-coups {
  height: 300px;
}
